<ion-header>
  <ion-toolbar>
    <ion-title>Password recovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form [formGroup]="recoveryForm" (ngSubmit)="recoverPassword()">
    <ion-item lines="full">
      <ion-label position="floating">Enter your email to receive a link</ion-label>
      <ion-input type="text" placeholder="" formControlName = "email" ></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="" expand="block">validate</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
