<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines = "none">
      <ion-label style="font-weight: 800;font-size: 20px">
         Modifier todo
      </ion-label> 
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ModiTodoForm" (submit)="verifiModification()">
    <ion-item>
      <ion-label position = "stacked">Name:</ion-label>
      <!-- formControlName = "name"，‘name’ as the same as this.fb.group({name: ['',[Validators.required,Validators.min(3)]]}) -->
      <ion-input formControlName = "name" value="{{todoName}}"></ion-input>
      <ion-label position = "stacked">Description:</ion-label>
      <ion-input formControlName = "descrip" value="{{description}}"></ion-input>
    </ion-item>
    <ion-button [disabled]="ModiTodoForm.invalid" expand="block" type="submit">Modifier</ion-button>
  </form>