<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName = "email"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName = "password"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="" expand="block">Sign In</ion-button>       
          <a [routerLink]="['/register']"   class="small-text">Create new account?</a>
          <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>           
      </ion-col>
    </ion-row>
  </form>
</ion-content>