<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines = "none">
      <ion-label style="font-weight: 800;font-size: 20px">
          Share your todolist
      </ion-label> 
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label style="font-size: 17px;">Authorization</ion-label>
    <ion-select [(ngModel)]="auth" (ionChange)=" getAuthValue()" interface="popover">
      <ion-select-option value="canRead">Can Read</ion-select-option>
      <ion-select-option value="canWrite">Can Write</ion-select-option>
    </ion-select>
  </ion-item>
  <form [formGroup]="shareForm">
    <ion-item>
      <ion-label position = "stacked" style="font-size: 25px;">Email:</ion-label>
      <ion-input formControlName = "email" 
        placeholder="Enter the email of the user to share"
        required minlength="3" appForbiddenUser="{{userEmail}}"
        [(ngModel)]="inputEmail">
      </ion-input>
      <ion-text  color = "danger" *ngIf="inputEmail == userEmail">
        can't share the liste to yourself
      </ion-text>
    </ion-item>

    <ion-text *ngIf="shareForm.errors?.['required']">
      Name is required.
    </ion-text>
   
    <!-- <div *ngIf="shareForm.invalid && (shareForm.dirty || shareForm.touched)"
    class="alert">

        <div *ngIf="shareForm.errors?.['required']">
          Name is required.
        </div>
        <div *ngIf="shareForm.errors?.['minlength']">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="shareForm.errors?.['forbiddenUserValidator']">
          Name cannot be Bob.
        </div>
    </div> -->

    <ion-button [disabled]="shareForm.invalid" expand="block" type="submit" (click)="shareList()">Share</ion-button>
    <ion-button  expand="block" color="tertiary" (click)="cancle()">Cancle</ion-button>
  </form>
</ion-content>