<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines = "none">
      <ion-label style="font-weight: 800;font-size: 3em">
         List
      </ion-label> 
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>
        Todo List
    </ion-title>
      <ion-buttons solt="secondary">
        <ion-button (click)="signout()">
          <ion-icon name='log-out-outline'></ion-icon>
        </ion-button>
      </ion-buttons> 
    </ion-row>
  </ion-toolbar>
</ion-header>

 
<!-- <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title>Standard</ion-title>
</ion-toolbar> -->




<ion-content>
  <ion-list *ngFor="let list of Lists$|async;"> 
    <ion-item-sliding>
      <ion-item [routerLink]="['/list-details/'+ list.id]" >
      <!-- <ion-item routerLink="/list-details" > -->
     
        <ion-label>{{list.name}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click) = "delete(i)"  color = "danger">delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addNewList()">
        <ion-icon name = "add"></ion-icon>
      </ion-fab-button>

    </ion-fab>
</ion-content>
